*{
    margin: 0px;
    padding: 0px;
}
/* nav bar starts here */
.nav{
    height: 80px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-left: 92px;
    padding-top: 15px;
}
.nav ul{
    width: 490px;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-between;
}
.navi1{
    padding-top: 10px;
    padding-right: 100px;
}
.navi_img{
    padding-top: 5px;
}
.Premium{
    padding-top: 20px;
}
.Support{
    padding-top: 20px;
}
.download{
    padding-top: 20px;
}
.hr{
    padding-top: 30px;
} 
/* nav bar ends here */

/* section_one starts here */
.section_one{
    background: url(../img/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    height: 600px;
    padding-top: 87px;
    display: flex;
}
.section_one_txt{

padding-left: 96px;

padding-top: 50px;

font-size: 34px;

width: 653px;

color: white;
}
.section_one button{
    height: 48px;
    width: 187px;
    border-radius: 50px;
    color: black;
    background-color: #fff;
    font-weight: 700;
    margin: 30px;
    border: none;
}
.download :hover{
    color: green;
}
.section_one img{
    
padding: 28px 10px 10px 162px;
    
height: 573px;
}
/* section _one ends here */
/* section _two starts here */
.section_two{
    margin: 50px;
    text-align: center;
}
.section_two h1{
    font-size: 40px;
    font-weight: 600;
}
.card{
    display: flex;
    justify-content: center;
}
.card1{
    width: 200px;
    height: 300px;
    /* background-color: aqua; */
    text-align: center;
    padding: 30px;
}
.card1 img{
    padding: 10px;
}
.card1 h3{
    padding: 10px;
    font-size: 20px;
}
.card1 p{
    font-size: 17px;
}
/* section _two ends here */
/* section _three starts here */
.section_three{
    background-image:linear-gradient(to bottom,#b023c2,#6303c5) ;
    height: 500px;
    text-align:center ;
    color: white;
}
.section_three h1{
    padding-top: 200px;
    font-size: 60px;
}
/* section _three ends here */
.section_four{
    height: 500px;
    text-align: center;
}
.section_four h1{
    /* font-size: 60px; */
    margin: 30px;
}
.box{
    width: 400px;
    display: block;
    justify-content: center;
    font-size: 20px;
}
.section_five{
    background-image: url(../img/lets-play.svg), linear-gradient(to bottom right, #cf2db5,#6c0ee0);
    background-repeat: no-repeat;
    background-size: cover;
    height: 322px;
    text-align: center;
    padding-top: 128px;
}
.section_five h1{
    font-size: 80px;
    color: white;
}.section_five button{
    height: 48px;
    width: 187px;
    border-radius: 50px;
    color: black;
    background-color: #fff;
    font-weight: 700;
    margin: 30px;
    border: none;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 80px;
}
.foot1 {
    display: flex;
    color: white;
    padding-right: 235px;
}
.foot1 img{
    /* width: 223px; */
    height: 50px;
}
.foot1 ul{
    list-style: none;
    padding-top: 18px;
    padding-left: 80px;
}
.foot1 li{
    padding-bottom: 20px;
}
.foot1 p{
    padding-bottom: 20px;
    color: #919496;
    font-size: 14px;
}
.ul ul{
    color: white;
    list-style: none;
    display: flex;
    padding-top: 70px;
    /* padding-right: 10px; */
    font-size: 13px;
}
.ul li{
    padding-right: 21px;
    color: #919496;
}

.sec1{
    background-color: #19e68c;
    text-align: center;
    height: 500px;
}
.sec1 img{
    padding-top: 100px;
}
.sec1 h1{
    padding-top: 25px;
    font-size: 48px;
}
.sec1 button{
    padding: 10px 17px;
    height: 48px;
    margin-top: 30px;
    border-radius: 20px;
    width: 130px;
    border: none;
    font-weight: 600;
}
.sec1 p{
    padding-top: 20px;
}
.sec2{
    text-align: center;
    padding-top: 83px;
}
.sec2 h1{
    padding-top: 20px;
    font-size: 32px;
}
.sec2 p{
    padding-top: 20px;
    font-size: 18px;
    /* font-weight: 400; */
}
.imag{
    display: flex;
    height: 80px;
    justify-content: center;
    padding-top: 20px;
}
.store{
    height: 40px;
    padding-top: 15px;
    padding-right: 10px;
}
.play{
    height: 57px;
    padding-top: 7px;
    padding-right: 10px;
}
.microsoft{
    height: 40px;  
    padding-top: 15px;
}
.sec3{
    background-color: #222326;
    height: 500px;
    text-align: center;
}
.sec3 img{
    padding-top: 100px;
    height: 173px;
}
.sec3 h1{
    font: size 32px;
    color: white;
}
.sec3 ul{
    display: flex;
    color: white;
    justify-content: center;
    padding: 20px;
}
.sec3 li{
    padding-left: 20px;
}
.world{
    display: flex;
    padding-bottom: 20px;
}
.end{
    color: #919496;
    padding-left: 517px;
    padding-top: 26px;
}